<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        
        <meta name="keywords" content="Gustavo Pinho Blog Jorge">
        <meta name="author" content="Jorge Gustavo dos Santos Pinho">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Gustavo Pinho">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:url" content="http://gustavopinho.com/">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:locale" content="pt_BR">
        
        <link rel="stylesheet" href="/style/styles.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
             
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-61567118-1', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
  <body>
      <div class="container">
          <div class="header">
              <nav>
                  <ul>
                      <li><a href="/">Gustavo Pinho</a></li>
                      <li><a href="/blog">Blog</a></li>
                  </ul>
              </nav>
          </div>
          <div class="content">
              {{ content }}
          </div>
          <div class="footer">
              <p>
                  Gustavo Pinho - <a href="http://gustavopinho.com">gustavopinho.com</a><br>
              </p>
          </div>
      </div>
  </body>
</html>
