<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Gustavo Pinho - site pessoal e blog">
        <meta name="keywords" content="Gustavo Pinho Blog Jorge">
        <meta name="author" content="Jorge Gustavo dos Santos Pinho">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Gustavo Pinho">
        <meta property="og:title" content="Gustavo Pinho">
        <meta property="og:url" content="http://gustavopinho.com/">
        <meta property="og:description" content="Gustavo Pinho - site pessoal e blog">
        <meta property="og:locale" content="pt_BR">

        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/style/styles.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    </head>
  <body>
      <div class="container">
          <div class="header">
              <nav>
                  <ul>
                      <li><a href="/">Gustavo Pinho</a></li>
                      <li><a href="/blog">Blog</a></li>
                  </ul>
              </nav>
          </div>
          <div class="content">
              {{ content }}
          </div>
          <div class="footer">
              <p>
                  Gustavo Pinho - <a href="http://gustavopinho.com">gustavopinho.com</a><br>
              </p>
          </div>
      </div>
  </body>
</html>
